/*Margin center*/
.mg-center {
  margin: 0 auto;
}

.mg-left {
  margin-left: auto;
}

/*Text aligbment*/
.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

/* Displays */
.inline-block {
  display: inline-block;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.pbt-10 {
  padding: 10rem 0rem !important;
}

.pbt-5 {
  padding: 5rem 0rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.pt-15 {
  padding-top: 15rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pb-10 {
  padding-bottom: 10rem !important;
}

.pb-15 {
  padding-bottom: 15rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.txt-black {
  color: #090707;
}

.section--services .txt-black {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.5;
}

.txt-max-width {
  max-width: 60%;
}

.txt-max-width-70 {
  max-width: 900px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

/*
0px - 600px : phone
600px - 900px: tablet portrait 
900px - 1200px: tablet landscape

(1200px - 1800px: Where our normal styles apply)

1800px > : Big desktop


$breakpoint argument choices:

-phone
-tab-port
-tab-land
-desk-big

1em = 16px

Order:

BASE + Typography > general layout + grid > page layout > components 

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 47%;
  }
}

body {
  position: relative;
  font-size: 2rem;
  line-height: 1.2;
  color: #ffffff;
  font-family: 'Muli', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  background-color: #090707;
}

@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}

button {
  background-color: transparent;
  border: none;
}

p:not(:last-child) {
  margin-bottom: 15px;
}

.heading--primary {
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 5px;
  margin-top: 0rem;
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 75em) {
  .heading--primary {
    letter-spacing: 6px;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading--primary {
    letter-spacing: 4px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading--primary {
    letter-spacing: 2px;
    font-size: 40px;
  }
}

.heading-large-white, .heading-large-black, .director-name__link {
  max-width: 70%;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: relative;
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 75em) {
  .heading-large-white, .heading-large-black, .director-name__link {
    letter-spacing: 6px;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-large-white, .heading-large-black, .director-name__link {
    letter-spacing: 4px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-large-white, .heading-large-black, .director-name__link {
    letter-spacing: 2px;
    max-width: 100%;
    text-align: center;
  }
}

.heading-large-white--line::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 500rem;
  z-index: 2;
  left: -505rem;
  background-color: #ffffff;
  top: 50%;
}

.heading-large-black {
  color: #090707;
}

.heading-large-black--line::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 500rem;
  z-index: 2;
  left: -505rem;
  background-color: #090707;
  top: 50%;
}

.heading-small-red {
  text-transform: uppercase;
  color: #EE4036;
  font-size: 2.5rem;
  letter-spacing: 2px;
  position: relative;
}

.heading-small-red::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 500rem;
  z-index: 2;
  background-color: #EE4036;
  right: -505rem;
  top: 10px;
}

.heading-large-red {
  color: #EE4036;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
  font-size: 7rem;
  letter-spacing: 10px;
  margin-bottom: 10rem;
}

.heading-small-white {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.3rem;
  letter-spacing: 2px;
  position: relative;
}

.heading-small-white--line::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 500rem;
  z-index: 2;
  left: -505rem;
  background-color: #ffffff;
  top: 10px;
}

a {
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

a:focus {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.link--projects {
  color: #ffffff;
  font-size: 2.2rem;
  letter-spacing: 2px;
  font-weight: 600;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .link--projects {
    display: inline-block;
    margin-bottom: 40px;
  }
}

.link--after-title {
  font-size: 2.5rem;
  letter-spacing: normal;
  font-weight: 600;
}

.red-underline {
  line-height: 1;
  background-color: #EE4036;
}

.line {
  border-top: 1px solid white;
  max-width: 1360px;
  overflow: hidden;
}

h2 {
  margin: 0.5em 0;
}

h3 {
  margin: 0.45em 0;
}

h4 {
  margin: 0.4em 0;
}

/*** STYLING FOR DEVICES WITH TOUCH AND NON-TOUCH CAPABILITIES. 
*
*
*
*
****/
/* TOUCH: Styling for devices with NO touch capabilities */
body.non-touch .single-project__title:hover .link__arrow, body.non-touch .related-work__title:hover .link__arrow {
  margin-left: 2rem;
}

body.non-touch .menu-primary-menu-container .menu-item a {
  line-height: 1;
}

body.non-touch .menu-primary-menu-container .menu-item a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  left: -50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #EE4036;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: -1;
}

body.non-touch .menu-primary-menu-container .menu-item a:hover:before {
  opacity: 1;
  left: 0;
}

body.non-touch .link--after-title .link__arrow {
  -webkit-transition: all .4s;
  transition: all .4s;
}

body.non-touch .link--after-title:hover .link__arrow {
  margin-left: 20px;
}

body.non-touch .slide-link {
  position: relative;
}

body.non-touch .slide-link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

body.non-touch .slide-link:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
}

body.non-touch .single-work__services a,
body.non-touch .single-work__directors a {
  position: relative;
}

body.non-touch .single-work__services a:after,
body.non-touch .single-work__directors a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

body.non-touch .single-work__services a:hover:after,
body.non-touch .single-work__directors a:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
}

/* NON-TOUCH: Styling for devices WITHOUT touch capabilities */
body.touch .single-project__title, body.touch .related-work__title {
  bottom: 10%;
  opacity: 1;
}

body.touch .slide-link {
  padding: 2rem;
  border: 1px solid #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

body.touch .slide-link:active {
  background-color: #ffffff;
  color: #090707;
}

/* APPLIES TO BOTH */
.link__arrow {
  -webkit-transition: all .4s;
  transition: all .4s;
  margin-left: 10px;
}

.main-nav__right {
  position: absolute;
  right: 4rem;
  top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.main-nav__toggle {
  display: inline-block;
  margin-left: 20rem;
  cursor: pointer;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 37.5em) {
  .main-nav__toggle {
    margin-left: 0rem;
  }
}

.main-nav__toggle-bar {
  height: 5px;
  width: 50px;
  background-color: #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main-nav__toggle-bar:not(:last-child) {
  margin-bottom: 10px;
}

.main-nav__toggle-bar:last-child {
  margin-left: auto;
  width: 3rem;
}

.main-nav__toggle-bar--transform:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(22px);
          transform: rotate(45deg) translateY(22px);
}

.main-nav__toggle-bar--transform:nth-child(2) {
  opacity: 0;
}

.main-nav__toggle-bar--transform:nth-child(3) {
  width: 100%;
  -webkit-transform: rotate(-45deg) translateY(-20px);
          transform: rotate(-45deg) translateY(-20px);
}

.main-nav__started {
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-nav__started a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.home .main-nav__started {
  display: inline-block;
  opacity: 1;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .home .main-nav__started {
    display: none;
  }
}

.home .main-nav__started--hide {
  display: none;
}

.section {
  padding: 20rem 0rem;
}

.footer {
  background-color: #ffffff;
  padding: 10rem 0rem;
  padding-bottom: 0rem;
  color: #090707;
  list-style: none;
  font-size: 2.2rem;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .footer {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer [class*="col-"]:not(:last-child) {
    margin-bottom: 80px;
  }
}

.footer__row {
  padding-bottom: 10rem;
}

.footer ul {
  list-style: none;
}

.footer ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.footer a {
  color: #090707;
  font-size: 2.2rem;
}

.footer__white-bg, .footer__black-bg {
  padding: 10rem 5rem;
}

.footer__white-bg {
  background-color: #ffffff;
  color: #090707;
}

.footer .fab:not(:last-child) {
  margin-right: 1.5rem;
}

.footer-copyright {
  border-top: 1px solid #090707;
  padding: 2rem 0rem;
  font-size: 2.2rem;
}

.footer-copyright [class*="col-"]:first-child {
  text-align: left;
}

@media (max-width: 767.98px) {
  .footer-copyright [class*="col-"]:first-child {
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer-copyright [class*="col-"]:last-child {
  text-align: right;
}

@media (max-width: 767.98px) {
  .footer-copyright [class*="col-"]:last-child {
    text-align: center;
  }
}

.custom-logo {
  position: absolute;
  left: 4rem;
  top: 4rem;
  z-index: 4;
  height: auto;
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .custom-logo {
    max-width: 60%;
  }
}

@media only screen and (max-width: 37.5em) {
  .custom-logo {
    max-width: 50%;
  }
}

.button--white {
  padding: 1.5rem 2rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
  border: 1px solid #ffffff;
  position: relative;
  z-index: 2;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.button--white::before {
  position: absolute;
  left: -5rem;
  top: 0;
  opacity: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: -1;
}

.button--white:hover {
  color: #090707;
}

.button--white:hover::before {
  left: 0rem;
  opacity: 1;
}

.menu-primary-menu-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #090707;
  overflow-y: hidden;
  color: #ffffff;
  z-index: 3;
  padding: 4rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu-primary-menu-container--open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.menu-primary-menu-container .menu {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
}

.menu-primary-menu-container .menu-item:not(:last-child) {
  margin-bottom: 4.5rem;
}

.menu-primary-menu-container .menu-item a {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 10px;
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 75em) {
  .menu-primary-menu-container .menu-item a {
    letter-spacing: 6px;
  }
}

@media only screen and (max-width: 56.25em) {
  .menu-primary-menu-container .menu-item a {
    letter-spacing: 4px;
  }
}

@media only screen and (max-width: 37.5em) {
  .menu-primary-menu-container .menu-item a {
    letter-spacing: 2px;
    font-size: 40px;
  }
}

.vert-tabs {
  list-style-type: none;
  background-color: #090707;
  height: 20rem;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.vert-tabs__tab {
  display: inline-block;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  border-right: 1px solid white;
  height: 100%;
  min-width: 20rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.vert-tabs__text {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.vert-tabs__tab:hover {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  text-orientation: unset;
  max-width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #090707;
  background-color: #ffffff;
}

.vert-tabs__tab:hover .vert-tabs__text {
  position: relative;
  opacity: 1;
}

.portfolio-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.portfolio-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (196px)[6];
      grid-template-rows: repeat(6, 196px);
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .portfolio-grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (400px)[6];
        grid-template-rows: repeat(6, 400px);
  }
}

.portfolio-grid__item:nth-child(1), .portfolio-grid__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.portfolio-grid__item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .portfolio-grid__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.portfolio-grid__item:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .portfolio-grid__item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.portfolio-grid__item:nth-child(3), .portfolio-grid__item:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .portfolio-grid__item:nth-child(3), .portfolio-grid__item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.portfolio-grid__item:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.portfolio-grid__item:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.portfolio-grid__item:nth-child(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .portfolio-grid__item:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.portfolio-grid__item:nth-child(6) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / 7;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .portfolio-grid__item:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
  }
}

.brands .row {
  /*
    ** Our declared styles go in here
    */
}

.brands .row:not(:last-child) {
  margin-bottom: 10rem;
}

@media (max-width: 768px) {
  .brands .row:not(:last-child) {
    margin-bottom: 0rem;
  }
}

@media only screen and (max-width: 75em) {
  .brands .row {
    text-align: center;
  }
}

.brands__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands__brand img {
  max-width: 200px;
  height: auto;
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 37.5em) {
  .brands__brand img {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .brands__brand img {
    margin-bottom: 50px;
  }
}

#wpcf7-f57-o1 {
  max-width: 70rem;
  margin: 0 auto;
}

#wpcf7-f57-o1 textarea {
  max-height: 20rem;
}

#wpcf7-f57-o1 input, #wpcf7-f57-o1 select, #wpcf7-f57-o1 textarea {
  width: 100%;
  background: transparent;
  padding: 1.5rem 2rem;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

#wpcf7-f57-o1 input[type="submit"], #wpcf7-f57-o1 select[type="submit"], #wpcf7-f57-o1 textarea[type="submit"] {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

#wpcf7-f57-o1 input:last-child, #wpcf7-f57-o1 select:last-child, #wpcf7-f57-o1 textarea:last-child {
  margin-bottom: 2rem;
}

#wpcf7-f57-o1 input::-webkit-input-placeholder, #wpcf7-f57-o1 select::-webkit-input-placeholder, #wpcf7-f57-o1 textarea::-webkit-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

#wpcf7-f57-o1 input:-ms-input-placeholder, #wpcf7-f57-o1 select:-ms-input-placeholder, #wpcf7-f57-o1 textarea:-ms-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

#wpcf7-f57-o1 input::-ms-input-placeholder, #wpcf7-f57-o1 select::-ms-input-placeholder, #wpcf7-f57-o1 textarea::-ms-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

#wpcf7-f57-o1 input::placeholder, #wpcf7-f57-o1 select::placeholder, #wpcf7-f57-o1 textarea::placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.header-homepage__video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-homepage__video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.header-homepage__video--scale {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.video--full-width__controls {
  position: absolute;
  right: 4rem;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video--full-width__controls--volandmute {
  position: relative;
}

.video--full-width__controls--mute {
  margin-bottom: 4rem;
  margin-left: 2rem;
  cursor: pointer;
}

.video--full-width__controls--volume {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.video--full-width__controls--play {
  margin-bottom: 4rem;
  cursor: pointer;
}

body.non-touch .video--full-width__controls--volandmute:hover .video--full-width__controls--volume {
  opacity: 1;
  visibility: initial;
}

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 15rem;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 15rem;
  height: 5px;
  background: #fff;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #EE4036;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 15rem;
  height: 5px;
  background: #fff;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #EE4036;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 15rem;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #fff;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #EE4036;
}

input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}

input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

.single-project {
  position: relative;
  overflow: hidden;
}

.single-project__title, .related-work__title {
  text-transform: uppercase;
  position: absolute;
  color: #ffffff;
  left: 5rem;
  bottom: 0%;
  opacity: 0;
  font-size: 2rem;
  letter-spacing: 2px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.single-project__thumb {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.single-project:hover .single-project__thumb {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.single-project:hover .single-project__title, .single-project:hover .related-work__title {
  bottom: 10%;
  opacity: 1;
}

.footer .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .widget:not(:last-child) {
  margin-bottom: 4rem;
}

.footer .widget__title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 3rem;
  letter-spacing: 2px;
}

.related-work {
  max-height: 287px;
  position: relative;
  overflow: hidden;
}

.related-work__thumb {
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.related-work:hover .related-work__title {
  bottom: 3rem;
  opacity: 1;
}

.related-work:hover .related-work__thumb {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.related-works-container [class*="col"] {
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .related-works-container [class*="col"]:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.services {
  color: #090707;
}

.service {
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 2rem 3rem;
  margin-bottom: 4rem;
}

.service__title {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.service__descr, p {
  font-size: 2.2rem;
  letter-spacing: 1.5px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.service__link {
  color: #090707;
  font-weight: 600;
}

.service__link:hover {
  color: #090707;
}

.archive-pagination {
  margin-top: 10rem;
}

.archive-pagination__next {
  float: right;
}

.archive-pagination__previous {
  float: left;
}

.director__description {
  padding-left: 20px;
}

.headshot {
  height: 30rem;
  width: 30rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(238, 64, 54, 0.3)), to(rgba(121, 1, 23, 0.3)));
  background-image: linear-gradient(to right, rgba(238, 64, 54, 0.3), rgba(121, 1, 23, 0.3));
  position: relative;
  -webkit-box-shadow: 10px 10px #ffffff;
          box-shadow: 10px 10px #ffffff;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 75em) {
  .headshot {
    margin-left: auto;
    margin-right: auto;
  }
}

.headshot__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: -1;
}

.headshot__social {
  position: absolute;
  top: 50%;
  right: -15px;
  list-style: none;
  display: inline-block;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.headshot__social-link:not(:last-child) {
  margin-bottom: 10px;
}

body.non-touch .director__container:hover .headshot__social {
  right: 10px;
  opacity: 1;
}

body.touch .headshot__social {
  right: 10px !important;
  opacity: 1 !important;
}

.header-homepage {
  height: 100vh;
  margin-bottom: 0rem;
  position: relative;
}

.header-homepage__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 45px 23px #090707;
          box-shadow: inset 0px 0px 45px 23px #090707;
}

.header-homepage__content {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 1000px;
  margin-left: 4rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  /*
    ** Our declared styles go in here
    */
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 75em) {
  .header-homepage__content {
    max-width: 800px;
  }
}

@media only screen and (max-width: 56.25em) {
  .header-homepage__content {
    max-width: 300px;
  }
}

.header-homepage__content--close {
  left: -500px;
  opacity: 0;
}

.header-homepage__lead {
  font-weight: 600;
  font-size: 2.3rem;
  letter-spacing: 1.5px;
}

.header-homepage__tabs {
  position: absolute;
  bottom: 0;
  right: -4rem;
}

.header-homepage__down {
  font-size: 5rem;
  position: absolute;
  left: 4rem;
  bottom: 4rem;
}

.section--services {
  background-color: #ffffff;
}

.section--contact {
  background-color: #EE4036;
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}

.section--projects {
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .section--projects {
    padding-bottom: calc(20rem - 40px);
  }
}

.our-work {
  padding: 10rem 0rem 20rem;
}

.our-work__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 56.25em) {
  .our-work__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.single-work-header__content {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 4rem;
  background-color: rgba(9, 7, 7, 0.3);
  padding: 4rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 37.5em) {
  .single-work-header__content {
    max-width: 80%;
  }
}

.single-work-header__title {
  font-size: 2rem;
  text-transform: uppercase;
}

.single-work-header__descr {
  font-size: 3.2rem;
  font-weight: 400;
  max-width: 50rem;
}

.single-work__overview {
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #ffffff;
  max-width: 85%;
}

@media (max-width: 992px) {
  .single-work__overview {
    max-width: 100%;
  }
}

.single-work__services-list, .single-work__directors-list, .single-work__client-list {
  font-size: 2.1rem;
  letter-spacing: 2px;
}

.single-work__services-list a, .single-work__directors-list a, .single-work__client-list a {
  color: #ffffff;
}

.page-header {
  margin-top: 10rem;
}

.fourofour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 0 15px 0 15px;
  text-align: center;
}

.fourofour__text {
  font-size: 30rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#EE4036), to(#780116));
  background-image: linear-gradient(to right, #EE4036, #780116);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 0px;
  margin-top: 0px;
}

.fourofour__not-found {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
}

.fourofour__button {
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #EE4036;
  text-transform: uppercase;
  border: 2px solid #EE4036;
  letter-spacing: .1em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.fourofour__button:hover {
  color: #ffffff;
  background-color: #EE4036;
}

.directors-section {
  padding: 5em 0rem;
}

.director-list {
  list-style-type: none;
  text-align: center;
}

.director-name:not(:last-child) {
  margin-bottom: 6rem;
}

.director-name__link {
  max-width: 100%;
  font-weight: 700;
}

.searchandfilter {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.searchandfilter ul li {
  display: inline-block;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 37.5em) {
  .searchandfilter ul li {
    display: block;
  }
}

.searchandfilter ul li:first-child {
  margin-right: 10rem;
  /*
    ** Our declared styles go in here
    */
}

@media only screen and (max-width: 37.5em) {
  .searchandfilter ul li:first-child {
    margin-right: 0rem;
    margin-bottom: 20px;
  }
}

.searchandfilter .sf-input-select {
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}

.searchandfilter .sf-input-select option {
  color: #ffffff;
  background-color: #090707;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.searchandfilter .sf-field-reset {
  margin-top: 20px;
  text-align: center;
  display: block;
}

.searchandfilter .sf-field-reset .search-filter-reset {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #ffffff;
}

/*# sourceMappingURL=bundle.css.map */