.header-homepage {
    height: 100vh;
    margin-bottom: 0rem;
    position: relative;

    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 45px 23px rgba(9,7,7,1);
    }


    &__content {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        max-width: 1000px;
        margin-left: 4rem;
        transition: all .4s;

        @include respond(tab-land) {
            max-width: 800px;
        }

        @include respond(tab-port) {
            max-width: 300px;
        }

        &--close {
            left: -500px;
            opacity: 0;
        }

    }

    
    &__lead {
        font-weight: 600;
        font-size: 2.3rem;
        letter-spacing: 1.5px;
    }

    &__tabs {
        position: absolute;
        bottom: 0;
        right: -4rem;
    }

    &__down {
        font-size: 5rem;
        position: absolute;
        left: 4rem;
        bottom: 4rem;
    }
    
}


.section {

    &--services {
        background-color: $color-white;
    }

    &--contact {
        background-color: $color-red;

        padding-top: 10rem !important;
        padding-bottom: 10rem !important;

    }

    &--projects {
        @include respond(tab-port) {
            padding-bottom: calc(20rem - 40px);
        }
    }

}