.custom-logo {
    position: absolute;   
    left: 4rem;
    top: 4rem;
    z-index: 4;
    height: auto;


    @include respond(tab-port) {
        max-width: 60%;
        // height: auto;
    }

    
    @include respond(phone) {
        max-width: 50%;
    }
}